@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply flex items-center justify-center w-32 h-16 p-2 mx-5 mt-2 text-lg text-center text-gray-700 border-2 border-gray-500 rounded-md cursor-pointer hover:shadow-lg hover:bg-gray-500 hover:text-white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
