@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn {
  @apply flex items-center justify-center w-32 h-16 p-2 mx-5 mt-2 text-lg text-center text-gray-700 border-2 border-gray-500 rounded-md cursor-pointer hover:shadow-lg hover:bg-gray-500 hover:text-white;
} */

#header_nav .btn {
  margin-top: 13px;
}
.btn--primary {
  background: #0066ff;
  color: white;
  box-shadow: rgba(255, 255, 255, 0) 0 0 0 3px, rgba(0, 102, 255, 0) 0 0 0 4px;
}
.btn--s {
  border-radius: 8px;
  font-size: 14px;
  padding: 0 12px;
  height: 36px;
  line-height: 36px;
}
.btn {
  display: block;
  position: relative;
  transition: box-shadow .1s, color .1s, background .1s;
  cursor: pointer;
  width: 100%;
  font-variation-settings: "wght" 600;
  font-family: "Inter", sans-serif;
  text-align: center;
  white-space: nowrap;
  border: none;
  text-decoration: none;
}

.header_signin-btn {
  margin-right: 10px;
}
.link--black {
  color: black;
}
.link {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  cursor: pointer !important;
  position: relative;
  transition: color 0.1s;
}

.step-item {
  @apply relative flex w-full gap-3;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-slate-400 absolute w-[1px] h-3 left-3 top-0 -translate-y-4 ;
}
.step{
  @apply w-6 h-6 rounded-full flex items-center justify-center z-10 relative bg-white font-semibold text-white
}
/* .stepper {
  @apply w-6 h-6 border-2 rounded-full border-bop bg-bop ;
} */
/* &:before {
  content: "";
  @apply absolute top-0 -left-4 block h-full w-0.5 border border-gray-300;
}

/* // the icon */
/* &:after {
  content: "";
  @apply absolute top-0 flex items-center justify-center w-6 h-6 border-2 rounded-full border-bop bg-bop;
  left: -1.7rem;
} */

.gradientText {
  background: linear-gradient(to right ,#AF4BA9,#DD2EA9,#FF51A9);
  
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.background {
  background: #FFEBB2;
  color: #FFEBB2 ;
}

.monospace {
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
